* {
padding: 0px;
margin: 0px;
}
header {
height: 60px;
margin: 10px;
}
nav {
margin: 10px;
}
nav ul {
list-style: none;
text-align: center;
border-top: 1px solid pink;
border-bottom: 1px solid pink;
padding: 10px 0;
}
nav ul li {
display: inline;
text-transform: uppercase;
padding: 0 10px;
letter-spacing: 10px;
}
nav ul li a {
text-decoration: none;
color: black;
}
nav ul li a:hover {
text-decoration: underline;
}
#main {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #464646;
overflow: hidden;
float: left;
width: 430px;
}

body{ text-align:center; }

.search {
    width: 100%;
    position: relative
    margin-top : 1000px
}
.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #9C5B36;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #9C5B36;
}

.searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #9C5B36;
    background: #9C5B36;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.wrap{
    width: 30%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main{
            background:#9C5B36;
            color:#fff;
            border:none;
            position:relative;
            height:40px;
            font-size:1.6em;
            padding:0 2em;
            cursor:pointer;
            transition:800ms ease all;
            outline:none;
        }
        .main:hover{
            background:#fff;
            color:#9C5B36;
        }
        .main:before,.main:after{
            content:'';
            position:absolute;
            top:0;
            right:0;
            height:2px;
            width:0;
            background: #9C5B36;
            transition:400ms ease all;
        }
        .main:after{
            right:inherit;
            top:inherit;
            left:0;
            bottom:0;
        }
        .main:hover:before,.main:hover:after{
            width:100%;
            transition:800ms ease all;
        }

        .signUp{
                    background:#FF7012;
                    color:#fff;
                    border:none;
                    position:relative;
                    height:40px;
                    font-size:1.6em;
                    padding:0 2em;
                    cursor:pointer;
                    transition:800ms ease all;
                    outline:none;
                }
                .signUp:hover{
                    background:#fff;
                    color:#FF7012;
                }
                .signUp:before,.signUp:after{
                    content:'';
                    position:absolute;
                    top:0;
                    right:0;
                    height:2px;
                    width:0;
                    background: #FF7012;
                    transition:400ms ease all;
                }
                .signUp:after{
                    right:inherit;
                    top:inherit;
                    left:0;
                    bottom:0;
                }
                .signUp:hover:before,.signUp:hover:after{
                    width:100%;
                    transition:800ms ease all;
                }
